NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_APP_URL=https://melazausa.com
NEXT_PUBLIC_MELAZA_NETWORK_URL=https://app.melazausa.com
NEXT_PUBLIC_MELAZA_PUBLIC_SITE_ID=site-melazausa-public
